@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&family=Ubuntu:wght@300;400;700&display=swap');/* * RESET CSS */
:root {
    --red:#f82c3d;
    --blue:#0084ff;
    --green:#419957;
    --orange: #ffd447;

}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu' , '微軟正黑體';
}
.w-100 {
    width: 100%;
}

/* *Grid */
.container {
    width: 100%;
    margin: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.col {
    flex: 1 0 0;
}
.col-1 {
    flex: 0 0 calc(100% / 12 * 1);
}
.col-2 {
    flex: 0 0 calc(100% / 12 * 2);
}
.col-3 {
    flex: 0 0 calc(100% / 12 * 3);
}
.col-4 {
    flex: 0 0 calc(100% / 12 * 4);
}
.col-5 {
    flex: 0 0 calc(100% / 12 * 5);
}
.col-6 {
    flex: 0 0 calc(100% / 12 * 6);
}
.col-7 {
    flex: 0 0 calc(100% / 12 * 7);
}
.col-8 {
    flex: 0 0 calc(100% / 12 * 8);
}
.col-9 {
    flex: 0 0 calc(100% / 12 * 9);
}
.col-10 {
    flex: 0 0 calc(100% / 12 * 10);
}
.col-11 {
    flex: 0 0 calc(100% / 12 * 11);
}
.col-12 {
    flex: 0 0 calc(100% / 12 * 12);
}
[class^="col"]{
    padding: 15px;
}
.no-padding > [class^="col"]{
    padding: 0;
}
@media (min-width: 480px){
    .container {
        width: 460px;
    }
    .col-sm {
        flex: 1 0 0;
    }
    .col-sm-1 {
        flex: 0 0 calc(100% / 12 * 1);
    }
    .col-sm-2 {
        flex: 0 0 calc(100% / 12 * 2);
    }
    .col-sm-3 {
        flex: 0 0 calc(100% / 12 * 3);
    }
    .col-sm-4 {
        flex: 0 0 calc(100% / 12 * 4);
    }
    .col-sm-5 {
        flex: 0 0 calc(100% / 12 * 5);
    }
    .col-sm-6 {
        flex: 0 0 calc(100% / 12 * 6);
    }
    .col-sm-7 {
        flex: 0 0 calc(100% / 12 * 7);
    }
    .col-sm-8 {
        flex: 0 0 calc(100% / 12 * 8);
    }
    .col-sm-9 {
        flex: 0 0 calc(100% / 12 * 9);
    }
    .col-sm-10 {
        flex: 0 0 calc(100% / 12 * 10);
    }
    .col-sm-11 {
        flex: 0 0 calc(100% / 12 * 11);
    }
    .col-sm-12 {
        flex: 0 0 calc(100% / 12 * 12);
    }
}
@media (min-width: 768px){
    .container {
        width: 750px;
    }
    .col-md {
        flex: 1 0 0;
    }
    .col-md-1 {
        flex: 0 0 calc(100% / 12 * 1);
    }
    .col-md-2 {
        flex: 0 0 calc(100% / 12 * 2);
    }
    .col-md-3 {
        flex: 0 0 calc(100% / 12 * 3);
    }
    .col-md-4 {
        flex: 0 0 calc(100% / 12 * 4);
    }
    .col-md-5 {
        flex: 0 0 calc(100% / 12 * 5);
    }
    .col-md-6 {
        flex: 0 0 calc(100% / 12 * 6);
    }
    .col-md-7 {
        flex: 0 0 calc(100% / 12 * 7);
    }
    .col-md-8 {
        flex: 0 0 calc(100% / 12 * 8);
    }
    .col-md-9 {
        flex: 0 0 calc(100% / 12 * 9);
    }
    .col-md-10 {
        flex: 0 0 calc(100% / 12 * 10);
    }
    .col-md-11 {
        flex: 0 0 calc(100% / 12 * 11);
    }
    .col-md-12 {
        flex: 0 0 calc(100% / 12 * 12);
    }
}
/* 1024 */
@media (min-width:1024px){
    .container {
        width: 1000px;
    }
    .col-lg {
        flex: 1 0 0;
    }
    .col-lg-1 {
        flex: 0 0 calc(100% / 12 * 1);
    }
    .col-lg-2 {
        flex: 0 0 calc(100% / 12 * 2);
    }
    .col-lg-3 {
        flex: 0 0 calc(100% / 12 * 3);
    }
    .col-lg-4 {
        flex: 0 0 calc(100% / 12 * 4);
    }
    .col-lg-5 {
        flex: 0 0 calc(100% / 12 * 5);
    }
    .col-lg-6 {
        flex: 0 0 calc(100% / 12 * 6);
    }
    .col-lg-7 {
        flex: 0 0 calc(100% / 12 * 7);
    }
    .col-lg-8 {
        flex: 0 0 calc(100% / 12 * 8);
    }
    .col-lg-9 {
        flex: 0 0 calc(100% / 12 * 9);
    }
    .col-lg-10 {
        flex: 0 0 calc(100% / 12 * 10);
    }
    .col-lg-11 {
        flex: 0 0 calc(100% / 12 * 11);
    }
    .col-lg-12 {
        flex: 0 0 calc(100% / 12 * 12);
    }
}
/* 1440 */
@media (min-width:1440px){
    .container {
        width: 1425px
    }
    .col-xl {
        flex: 1 0 0;
    }
    .col-xl-1 {
        flex: 0 0 calc(100% / 12 * 1);
    }
    .col-xl-2 {
        flex: 0 0 calc(100% / 12 * 2);
    }
    .col-xl-3 {
        flex: 0 0 calc(100% / 12 * 3);
    }
    .col-xl-4 {
        flex: 0 0 calc(100% / 12 * 4);
    }
    .col-xl-5 {
        flex: 0 0 calc(100% / 12 * 5);
    }
    .col-xl-6 {
        flex: 0 0 calc(100% / 12 * 6);
    }
    .col-xl-7 {
        flex: 0 0 calc(100% / 12 * 7);
    }
    .col-xl-8 {
        flex: 0 0 calc(100% / 12 * 8);
    }
    .col-xl-9 {
        flex: 0 0 calc(100% / 12 * 9);
    }
    .col-xl-10 {
        flex: 0 0 calc(100% / 12 * 10);
    }
    .col-xl-11 {
        flex: 0 0 calc(100% / 12 * 11);
    }
    .col-xl-12 {
        flex: 0 0 calc(100% / 12 * 12);
    }
}
/* 
    * 包含
    ^ 開頭是
    $ 結尾是
*/
/* text-align */
.t-left {text-align: left;}
.t-center {text-align: center;}
.t-right {text-align: right;}
.t-justify {text-align: justify;}
@media(min-width:480px){
    .t-sm-left {text-align: left;}
    .t-sm-center {text-align: center;}
    .t-sm-right {text-align: right;}
    .t-sm-justify {text-align: justify;}
}
@media(min-width:768px){
    .t-md-left {text-align: left;}
    .t-md-center {text-align: center;}
    .t-md-right {text-align: right;}
    .t-md-justify {text-align: justify;}
}
@media(min-width:1024px){
    .t-lg-left {text-align: left;}
    .t-lg-center {text-align: center;}
    .t-lg-right {text-align: right;}
    .t-lg-justify {text-align: justify;}
}
@media(min-width:1440px){
    .t-xl-left {text-align: left;}
    .t-xl-center {text-align: center;}
    .t-xl-right {text-align: right;}
    .t-xl-justify {text-align: justify;}
}

/* btn */
.btn {
    display: inline-block;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px;
    transition: .3s;
}

.btn-pill {
    border-radius: 50px;
}
.btn-light {
    color: #fff;
    border: 2px solid #fff;
}
.btn-light:hover {
    background-color: #fff;
    color: #222;
}
.btn-dark {
    color: #222;
    border: 2px solid #222;
}
.btn-dark:hover {
    background-color: #222;
    color: #fff;
}