<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="global.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Lorem ipsum dolor sit amet.</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque dolore natus officia incidunt fugit eos earum nostrum culpa alias error, possimus illo, tempora nesciunt ipsam ex nemo. Consequuntur, excepturi aperiam?
    </p>
</body>
</html>