/* nav */
nav {
    width: 100%;
    background-color: #383838;

    padding-top: 30px;
    padding-bottom: 30px;

    /* height: 75px; */
    /* line-height: 75px; */

    border-bottom:2px #fff solid;
}
nav > .row {
    /* height: 75px; */
    /* align-items: center; */

    justify-content: space-between;
}
nav ul {
    list-style: none;
}
nav li {
    margin: 0 15px;
}
nav a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}
/* header */
header {
    /* background-color: #ba00c0; */
    background-image: linear-gradient(to right bottom ,#c342eb,#af00e4);
    padding-bottom: 30px;
}
header .col-12 {
    border-bottom: #fff 2px solid;
}
header .row {
    align-items: baseline;
}
header i {
    margin-right: 15px;
}
/* update */

#update {
    background-color: #230046;
}
#update .row {
    align-items: center;
}